.analytics_select{
	font-size:14pt;
	font-weight:bold;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);

	margin-left: auto;
	margin-right: auto;
}

.full{
	width: 120px;
	height: 102px;

	margin: 3px 10px 3px 10px;
	padding-top: 35px;

	border:1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.divide{
	width: 170px;
	height: 30px;

	margin: 3px 10px;
	padding-top: 2px;

	border:1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.select_color{
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
	background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
	background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
	background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
	background-image: -o-linear-gradient(top, #d3d3d3, #707070);
	background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
	cursor:pointer;
}

.active_color{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a9a588), to(#8e865b));
	background-image: -webkit-linear-gradient(top, #a9a588, #8e865b);
	background-image: -moz-linear-gradient(top, #a9a588, #8e865b);
	background-image: -ms-linear-gradient(top, #a9a588, #8e865b);
	background-image: -o-linear-gradient(top, #a9a588, #8e865b);
}

.race_numbers{
	margin-top: 10px;
}

.race_numbers p{
	margin: 5px 5px;
	font-size:15pt;
	font-weight:bold;
	height: 50px;
	width: 80px;
	display: inline-block;

	color: #ffffff;
	padding:10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid #f5fdff 2px;
	background: #FFBEDA;
	cursor:pointer;
}

.race_numbers .select{
	background:#9057FF;
}

.series_data{
	margin: 10px 0px;
}

.series_data p{
	display: inline-block;
	text-shadow: 3px 2px 1px #999999;
	font-weight:bold;
	font-size: 20pt;
	margin-left: 20px;
}

.race_data, .latest_race_data{
	margin: 10px 0px;
}

.race_data p, .latest_race_data p{
	display: inline-block;
	margin-left: 20px;
	font-weight:bold;
	font-size: 16pt;
	text-shadow: 1px 1px 1px #999999;
}

.comment{
	font-size: 9pt;
	margin-right: 5px;
}

.comment2{
	font-size: 9pt;
	margin-right: 1px;
}

.analytics_frame{
	margin: 20px 0px;
}

.analytics_recodes p{
	display: inline-block;
}

.analytics_recodes p:nth-child(1){
	width: 50px;
	margin: 3px 0px;
	font-weight:bold;
	font-size: 20pt;
	text-shadow: 3px 2px 1px #999999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.analytics_recodes p:nth-child(2){
	width: 100px;
	font-size: 14pt;
	font-weight:bold;
}

.analytics_recodes p:nth-child(3){
	font-weight:bold;
	width: 60px;
	padding: 2px 5px;
	margin: 0px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.analytics_recodes p:nth-child(4){
	text-align: left;
	margin-left: 10px;
	width: 170px;
	font-weight:bold;
	font-size: 18pt;
	letter-spacing: 0.2em;
	text-shadow: 1px 1px 1px #999999;
}

.analytics_recodes p:nth-child(5){
	font-weight:bold;
	width: 70px;
	padding: 2px 5px;
	margin: 0px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*********************************
 * analytics
 ********************************/
.analytics_version p:nth-child(6){
	width: 100px;
	font-weight:bold;
	font-size: 18pt;
}

.analytics_version p:nth-child(7){
	width: 160px;
	font-weight:bold;
	font-size: 18pt;
}

.level_count{
	margin: 10px 0px;
	margin-left: auto;
	margin-right: auto;
}

.level_count .race_count{
	width: 100px;
	font-weight:bold;
	font-size: 14pt;
}

.level_count .race_count p{
	width: 100px;
	margin-bottom: 3px;
	font-size: 10pt;
}

.level_count .race_count span{
	width: 100px;
	margin: 0px 3px;
	font-size: 10pt;
}

.level_count .count{
	width: 200px;
}

.level_count .count p{
	display: inline-block;
	font-weight:bold;
}

.level_count .count p:nth-child(1){
	text-align: right;
	font-size: 10pt;
	margin-right: 10px;
	width: 70px;
}

.level_count .count p:nth-child(2){
	text-align: right;
	font-size: 12pt;
	margin-right: 5px;
	width: 30px;
}

.level_count .count p:nth-child(3){
	text-align: left;
	font-weight:bold;
	font-size: 10pt;
	width: 70px;
}

/*********************************
 * information
 ********************************/
.information_version p:nth-child(6){
	width: 70px;
	font-weight:bold;
	font-size: 14pt;
}

.information_version p:nth-child(7),
.information_version p:nth-child(8){
	width: 70px;
	font-weight:bold;
	font-size: 10pt;

	padding: 2px 5px;
	margin: 0px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	color: #fff;
	background-color: #805d2c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#805d2c), to(#543305));
	background-image: -webkit-linear-gradient(top, #805d2c, #543305);
	background-image: -moz-linear-gradient(top, #805d2c, #543305);
	background-image: -ms-linear-gradient(top, #805d2c, #543305);
	background-image: -o-linear-gradient(top, #805d2c, #543305);
	background-image: linear-gradient(to bottom, #805d2c, #543305);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#805d2c, endColorstr=#543305);
}

/*********************************
 * recent
 ********************************/
.recent_version{
	margin-top: 10px;
}

.recent_version p:nth-child(6){
	width: 70px;
	font-weight:bold;
	font-size: 14pt;
}

.recent_series{
	margin: 10px 0px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.recent_series p{
	display: inline-block;
	margin-left: 20px;
	font-weight:bold;
}

.recent_series p:nth-child(1),
.recent_series p:nth-child(2){
	font-size: 12pt;
	text-shadow: 2px 2px 2px #999999;
}

.recent_series p:nth-child(3),
.recent_series p:nth-child(4){
	font-size: 10pt;
}

.recent_recodes{
	margin: 5px 0px;
	padding: 3px;

	font-size: 12pt;
	font-weight:bold;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-color: #f2f9fe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
	background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);
}

.recent_recodes p{
	display: inline-block;
}

.recent_recodes p:nth-child(1){
	text-align: left;
	width: 100px;
}

.recent_recodes p:nth-child(2){
	text-align: left;
	width: 80px;
}

.recent_recodes p:nth-child(3){
	width: 50px;
}

.recent_recodes p:nth-child(4){
	width: 20px;
	margin: 0px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.recent_recodes p:nth-child(5){
	text-align: right;
	width: 60px;
}

.recent_recodes p:nth-child(6){
	font-size: 12pt;

	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin: 0px 10px;
}

.recent_recodes p:nth-child(7),
.recent_recodes p:nth-child(8){
	width: 70px;
	font-size: 14pt;
}

.recent_recodes p:nth-child(9){
	width: 60px;
}

.recent_recodes p:nth-child(10){
	text-align: left;
	font-size: 10pt;
	width: 200px;
}

.flying{
	font-size: 10pt;
	margin-left: 1px;
}

.rc_rank_0{
	background: #fff;
	color: #222;
}

.rc_rank_1{
	color: #fff;
	background-color: #a9a588;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a9a588), to(#8e865b));
	background-image: -webkit-linear-gradient(top, #a9a588, #8e865b);
	background-image: -moz-linear-gradient(top, #a9a588, #8e865b);
	background-image: -ms-linear-gradient(top, #a9a588, #8e865b);
	background-image: -o-linear-gradient(top, #a9a588, #8e865b);
	background-image: linear-gradient(to bottom, #a9a588, #8e865b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9a588, endColorstr=#8e865b);
}

.rc_rank_2{
	color: #fff;
	background-color: #CEDCE7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CEDCE7), to(#596a72));
	background-image: -webkit-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -moz-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -ms-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -o-linear-gradient(top, #CEDCE7, #596a72);
	background-image: linear-gradient(to bottom, #CEDCE7, #596a72);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CEDCE7, endColorstr=#596a72);
}

.rc_rank_3{
	color: #fff;
	background-color: #a90329;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
	background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
	background-image: -moz-linear-gradient(top, #a90329, #6d0019);
	background-image: -ms-linear-gradient(top, #a90329, #6d0019);
	background-image: -o-linear-gradient(top, #a90329, #6d0019);
	background-image: linear-gradient(to bottom, #a90329, #6d0019);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
}

/*********************************
 * current
 * season
 * before
 ********************************/
.win_counts div{
	display: inline-block;
}

.win_count{
	margin-left: auto;
	margin-right: auto;
}

.win_count .victory{
	width: 100px;
	font-weight:bold;
	font-size: 14pt;
}

.win_count .victory span{
	width: 100px;
	margin: 0px 3px;
	font-size: 12pt;
}

.win_count .victory{
	width: 100px;
}

.win_count .count{
	width: 200px;
}

.win_count .count p{
	display: inline-block;
	font-weight:bold;
}

.win_count .count p:nth-child(1){
	text-align: right;
	font-size: 10pt;
	margin-right: 10px;
	width: 70px;
}

.win_count .count p:nth-child(2){
	text-align: right;
	font-size: 12pt;
	margin-right: 5px;
	width: 30px;
}

.win_count .count p:nth-child(3){
	text-align: left;
	font-weight:bold;
	font-size: 10pt;
	width: 70px;
}
