.analytics_select{
	font-size:14pt;
	font-weight:bold;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);

	margin-left: auto;
	margin-right: auto;
}

.full{
	width: 120px;
	height: 102px;

	margin: 3px 10px 3px 10px;
	padding-top: 35px;

	border:1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.divide{
	width: 170px;
	height: 30px;

	margin: 3px 10px;
	padding-top: 2px;

	border:1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.select_color{
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
	background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
	background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
	background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
	background-image: -o-linear-gradient(top, #d3d3d3, #707070);
	background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
	cursor:pointer;
}

.active_color{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a9a588), to(#8e865b));
	background-image: -webkit-linear-gradient(top, #a9a588, #8e865b);
	background-image: -moz-linear-gradient(top, #a9a588, #8e865b);
	background-image: -ms-linear-gradient(top, #a9a588, #8e865b);
	background-image: -o-linear-gradient(top, #a9a588, #8e865b);
}

.race_numbers{
	margin-top: 10px;
}

.race_numbers p{
	margin: 5px 5px;
	font-size:15pt;
	font-weight:bold;
	height: 50px;
	width: 80px;
	display: inline-block;

	color: #ffffff;
	padding:10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid #f5fdff 2px;
	background: #FFBEDA;
	cursor:pointer;
}

.race_numbers .select{
	background:#9057FF;
}

.series_data{
	margin: 10px 0px;
}

.series_data p{
	display: inline-block;
	text-shadow: 3px 2px 1px #999999;
	font-weight:bold;
	font-size: 20pt;
	margin-left: 20px;
}

.race_data, .latest_race_data{
	margin: 10px 0px;
}

.race_data p, .latest_race_data p{
	display: inline-block;
	margin-left: 20px;
	font-weight:bold;
	font-size: 12pt;
	text-shadow: 3px 2px 1px #999999;
}

/*********************************
 * analytics
 ********************************/
.analytics_recodes{

}

.analytics_recodes p{
	display: inline-block;
}

.analytics_recodes p:nth-child(1){
	width: 50px;
}

.analytics_recodes p:nth-child(2){
	width: 50px;
}

.analytics_recodes p:nth-child(3){
	text-align: left;
	width: 150px;
}

.analytics_recodes p:nth-child(4){
	text-align: left;
	width: 50px;
}

.analytics_recodes p:nth-child(5),
.analytics_recodes p:nth-child(6){
	width: 50px;
}

/*********************************
 * information
 ********************************/

.informationRecodes{
	text-align: left;
	margin: 20px;
}

.informationRecodes div p{
	display: inline-block;
}

/*********************************
 * before
 ********************************/

/*********************************
 * current
 ********************************/

/*********************************
 * holding
 ********************************/

/*********************************
 * recent
 ********************************/

/*********************************
 * season
 ********************************/

/*********************************
 * grade
 ********************************/
